
/*-------------------------------------------------
BODY
-------------------------------------------------*/


#content .introduction {
	margin-top: 5px;
	margin-bottom: 5px;
}

#content .embed {
	text-align: center;
}
